@import "../../node_modules/font-awesome/css/font-awesome.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

.scrollbar-hidden::-webkit-scrollbar {
    display: none; /* Chrome, Safari */
}
.scrollbar-hidden {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

/* Untuk Chrome, Edge, dan Safari */
input[type="date"]::-webkit-calendar-picker-indicator {
    filter: invert(0.5); /* Ubah warna ikon */
    cursor: pointer; /* Bikin lebih interaktif */
}

