/* @import "tailwindcss"; */
/* @source "../views"; */
@import "../../node_modules/font-awesome/css/font-awesome.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

.scrollbar-hidden::-webkit-scrollbar {
    display: none; /* Chrome, Safari */
}
.scrollbar-hidden {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
